.text-center {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-top:50px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color:"gray";
}
.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="lastname"] {
	margin-bottom: 3px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="firstname"] {
	margin-bottom: 3px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="middlename"] {
	margin-bottom: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin input[type="capital"] {
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.gender-opt {
	margin-left:-140px; 
}
.addmember-submit {
	margin-top:20px;
}