@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  position: fixed;
  background: #343434;
  width: 100%;
  z-index: 100;
}
#cssmenu a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  /*padding: 20px 20px;*/
  text-decoration: none;
  font-size: 17px;
  margin: 1px 2px;
  cursor: pointer;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #489cff;
    background: transparent;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #24b0e7;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
    #cssmenu ul li {
        float: none;
        display: block;
    }

    #cssmenu ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
    }

    #cssmenu ul li.last > a,
    #cssmenu ul li:last-child > a {
        border: 0;
    }

    #cssmenu ul li a:after {
        display: none;
    }

    #cssmenu ul li a:before {
        display: none;
    }

    #main {
        padding: 16px;
        margin-top: 30px;
        height: 1500px;
    }
}

#adminmsg {
    margin-top: 5%;
    font-size: 3em;
}

h1 {
    font-weight: bold;
    text-align: center;
}


#events {
    margin-left: 27.3%;
}

html {
    font-size: 16px;
}

#expenses {
    margin-left: 27.3%;
}

h2 {
    margin-top: 2.5%;
    margin-left: 5.6%;
}

.btn-primary {
    margin-top: 5%;
    width: 300px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.alert {
    width: 550px;
    position: relative;
    margin-left: 65%;
}

#collections {
    margin-left: 27.3%;

}

#collectionbuttons, #budgetbutt, #expensebutt, #eventbutt {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#quickbois {
    margin-left: 3.5%;
}

#adminbuttons {
    background-color: #cccccc;
    width: 1030px;
    height: 470px;
    border-radius: 20px;
    margin-left: 16.2%;
    box-shadow: 6px 6px 5px grey;
    margin-top: 9.5%;
}

#make-payment, #add-event, #add-expense {
    height: 95px;
    padding-top: 15px;
    margin-right: 10px;
    border-radius: 10px;
}

#add-collection{
    height: 95px;
    padding-top: 15px;
    margin-right: 10px;
    margin-top: -17px;
    border-radius: 10px;
}
#deactivate-students {
    height: 95px;
    padding-top: 15px;
    margin-right: 10px;
    margin-top: -17px;
    border-radius: 10px;
}
#new-attendance {
    height: 95px;
    padding-top: 15px;
    margin-right: 10px;
    position: relative;
    top: -32px;
    border-radius: 10px;
}

#tables {
    width: 90%;
    margin-left: 4.7%;
    box-shadow: 8px 8px 10px grey;
    background-color: #cccccc;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: 7%;
}

#example tr{
    background-color: inherit;
}

#payment-breadcrumbs, #collection-breadcrumbs, #events-breadcrumbs {

}

.breadcrumb {
    position: relative;
    top: 47px;
    background: none;
    color: black;
    font-weight: bold;
}

a {
    color: white;
}

.breadcrumb a:hover {
    background: transparent;
    text-decoration: none;
    border-radius: 3px;
}

#budgetbuttons {
    margin-left: 27%;
}

#viewerbuttons2 {
    margin-top: -5.5%;
}

#viewerbuttons1 {
    margin-top: -3%;
    height: 300px;
}

#viewbudgets, #viewexpenses, #viewevent {
    height: 250px;
    width: 200px;
    padding-top: 75px;
    font-weight: bold;
    margin-right: 8px;
    border-radius: 10px;
}

.gi-1, .gi-2, .gi-3 {
    font-size: 2.75em;
}

#pastbudgets, #pastevent, #pastexpenses {
    width: 200px;
    margin-right: 8px;
    font-weight: bold;
    border-radius: 10px;
}

#viewbuttons {
    background-color: #dcdbe7;
    width: 45%;
    padding: 10px 20px 35px 20px;
    border-radius: 10px;
    margin-left: 27.5%;
    margin-top: 3%;
}

#viewpastexp {
    margin-left: 39%;
}

body {
    background-image: url("homepage1.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.btn-primary {
    box-shadow: 5px 5px 3px grey;

}

#clock {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 70px;
    height: 40px;
}