#input-collection1 {
    margin-left: 43.2%;
    margin-top: 2%;
}

h1 {
    text-align: center;
    margin-top: 8%;
}

.breadcrumb {

}

.container {
    margin-top: 3%;
}

.form-signin {
    max-width: 420px;
    padding: 20px 38px 30px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-top: 7%;
  }

.form-signin-heading {
    text-align:center;
    margin-bottom: 15px;
    color: dimgrey;
    font-size: 40px;
}

#update {
    margin-left: 37px;
}

#input-attend {
    margin-left: 42.3%;
    margin-top: 2%;
}

.alert {
    width: 400px;
    position: center;
    margin-left: 65%;
    margin-top: 3%;
}

#date {
    font-size: 1em;
    margin-top: 0;
}

input[type=submit] {
    height: 50px;
    font-size: 1.5em;
}