.errors{
    margin-left: 43%;
}

select {
    margin-left: 0;
}

h1 {
    margin-top: 9%;
    size: 50px;
    text-align: center;
}

a {
    margin-left: 10.5%;
}

body {
    background-image: url("index2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper label.control-label{
    display: none;
}

a.navbar-brand {
    position: relative;
    left: -100px;
}

h4 {
    text-align: center;
    font-size: 1em;
    font-style: italic;
}

.viewlink {
    margin-left: 22%;
}

.navbar-nav {
    margin-left: 57%;
}

.container-fluid {
    position: relative;
    width: 45%;
    margin-top: -550px;
    margin-left: 48%;
    font-size: 1.3em;
}

.panel-transparent {
	background: none;
}
.panel-body {
    color: white;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}

p {
    color: oldlace;
    text-align: center;
}

p.help-block {
    color: lightpink;
}

.wrapper {
    margin-left: -67.5%;
    margin-top: 7%;
}

.form-signin {
    max-width: 550px;
    padding: 30px 38px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
    border-radius: 15px;
  }

.form-signin-heading {
    text-align:center;
    color: dimgrey;
    font-size: 40px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    width: 100%;
}

input[type=text] {
    margin-bottom: 0;
    border-radius: 7px;
}

input[type=password] {
    margin-bottom: 30px;
    border-radius: 7px;
}

.colorgraph {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#setup {
    padding-top: 10%;
}

#description, #description ::placeholder {
    height: 100px;
    text-align: left;
    padding-bottom: 15%;
    resize: none;
}

