{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
New Collection
{% endblock %}

{% block styles %}
    <link href="/static/bootstrap1.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link href="/static/mainstyle.css" rel="stylesheet">
    <link href="/static/forms.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}
{% block sripts %}
<script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
{% endblock %}

{% block content %}
    {% include "adminbar.html" %}
<ol class="breadcrumb" id="form-breadcrumbs">
    <li class="breadcrumb-item"><a href="/adminhome">Home</a></li>
    <li class="breadcrumb-item"><a href="/collection">Collection</a></li>
    <li class="breadcrumb-item">New Collection</li>
</ol>
{% with msg = get_flashed_messages() %}
    {% if msg %}
        {% for alert in msg %}
            <div class="messages">
            <div class="col-sm-6 col-md-6">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <span class="glyphicon glyphicon-info-sign"></span><strong>{{ alert }}</strong>
            </div>
        </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
    <div class="wrapper">
    <div class="form-signin" style="margin-bottom: 15%">
        <h3 class="form-signin-heading">New Collection</h3>
    <form class="form form-horizontal" action="{{ url_for('newcollection') }}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.colyear) }}
    </dl>
    <input class="btn btn-success btn-block" type="submit" value="Confirm">
    <input class="btn btn-primary btn-block" type="button" value="Back" onclick="window.location.href='/collection'">
    </form>

    </div>
    </div>
    </div>
    {% endwith %}
{% endblock %}