{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign In
{% endblock %}

{% block styles %}
    <link href="/static/bootstrap1.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/mainstyle.css">
    <link href="/static/forms.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    {% include "adminbar.html" %}
<ol class="breadcrumb" id="form-breadcrumbs">
    <li class="breadcrumb-item"><a href="/adminhomepage">Home</a></li>
    <li class="breadcrumb-item"><a href="/meeting">Meeting</a></li>
    <li class="breadcrumb-item">Attendance</li>
</ol>
 {% with msg = get_flashed_messages() %}
        {% if msg %}
        {% for alert in msg %}
            <div class="messages">
                <div class="col-sm-6 col-md-6">
                    <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    *</button>
                <span class="glyphicon glyphicon-info-sign"></span><strong>{{ alert }}</strong>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

    <div class="container">
        <div class="wrapper">
            <div class="form-signin"> 
        <h3 class="form-signin-heading">Take Attendance</h3>
        <h6 style="text-align: center; font-style: italic">{{ msgs }}</h6>
    <form class="form form-horizontal" action="{{ url_for('newattendance', meetingid=meetingid, meetingDate=meetingDate) }}" method="POST" role="form">
    <dl>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.form_field(form.memberid, placeholder="ID without dashes e.g. 20150012") }}
        {{ wtf.form_field(form.attendtype) }}
    </dl>
    <input class="btn btn-success btn-block" type="submit" value="Confirm">
    <input class="btn btn-primary btn-block" type="button" value="Back" onclick="window.location.href='/meeting'">
    </form>
            </div>
        </div>
    </div>
    {% endwith %}

{% endblock %}