{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Admin-login
{% endblock %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
    <link href="/static/signup.css" rel="stylesheet">

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
      $(document).ready(function(){
        alert("{{ message }}");
    });
         
      {% endfor %}
   {% endif %}
{% endwith %}
    
</script>
{% endblock %}

{% block content %}
</div>
          {% if error %}
            <div class="alert alert-danger alert-dismissible" style="margin: 2% !important;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p class=error><strong>Error:</strong> {{ error }}</p>
          </div>
          {% endif %}
    


    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Hello</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username, placeholder = "Admin") }}
        {{ wtf.form_field(form.password, placeholder = "password") }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>   
      </form>


    </div> <!-- /container -->
{% endblock %}