<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <title>Home Page</title>

    <body>

    <div class="head1"><h2>Savings System</h2></div>
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/addmember">Add Member</a></li>
            <li><a href="/updatenew">Member Profile</a></li>
            <li><a href="/deletenew">Remove Member</a></li>
            <li><a href="/searchstudent">Search Records</a></li>
            <li><a href="/studentlist">Show Member Records</a></li>
            <li><a href="/addcourse">Notes</a></li>
            <li><a href="/updatecourse">Update Member Info</a></li>
            <li><a href="/deletecourse">Total Collection</a></li>
            <li><a href="/courselist">----</a></li>
        </ul>
        <div class="par">
        <p> </p>
        </div>
    </body>
</html>