<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Savings System</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="static/bootstrap-5.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/all-5.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- Plugin CSS -->
  <link href="static/magnific-popup.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

  <!-- Bootstrap core CSS -->
  <link href="static/bootstrap-8.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="static/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="static/style-5.css" rel="stylesheet">



  <!-- Custom styles for this template -->
  <link href="static/creative.min.css" rel="stylesheet">
  <link href="static/modal.css" rel="stylesheet" type="text/css" >
</head>

<body id="page-top">
  {% block content %}

  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



  <script type="text/javascript" src="static/jquery-3.3.1-5.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="static/popper-5.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="static/bootstrap-7.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="static/mdb.min.js"></script>


  <!-- Bootstrap core JavaScript -->
  <script src="static/jquery-5.min.js"></script>
  <script src="static/bootstrap-5.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/jquery.easing.min.js"></script>
  <script src="static/scrollreveal.min.js"></script>
  <script src="static/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/creative.min.js"></script>

</body>

</html>
