{% extends 'adminhomepage.html' %}



{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/adminhomepage">Home</a></li>
      <h1 style="font-family: sans-serif; text-align: center; text-shadow: 3px 3px 5px #adb4b6;" id="adminmsg">{{ msgs }}<br>Welcome to the Admin Homepage!</h1>
    <div id="quickbois">
        <a id="make-payment" class="btn btn-primary" href="/payment"><span><i class="glyphicon glyphicon-piggy-bank" style="margin-right:0.5em"></i><br>Make a payment</span></a>
        <a id="add-event" class="btn btn-primary" href="/newmeeting"><span><i class="glyphicon glyphicon-calendar" style="margin-right:0.5em"></i><br>Add a meeting</span></a>
        <a id="add-expense" class="btn btn-primary" href="/addloan"><span><i class="glyphicon glyphicon-tags" style="margin-right:0.5em"></i><br>Record a loan</span></a>
        <a id="new-attendance" class="btn btn-primary" href="/attendance"><span><i class="glyphicon glyphicon-calendar" style="margin-right:0.5em"></i><br>Attendance</span></a>
        <a id="add-collection" class="btn btn-primary" href="/joinmember"><span><i class="glyphicon glyphicon-usd" style="margin-right:0.5em"></i><br>Add a Contribution</span></a>
        <a id="deactivate-students" class="btn btn-primary" href="/addmember3"><span><i class="glyphicon glyphicon-user" style="margin-right:0.5em"></i><br>Add a member</span></a>
    </div>


{% endblock %}

