{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
First-Time Setup
{% endblock %}

{% block scripts %}
    <script src="/static/addInput.js" language="Javascript" type="text/javascript"></script>
{% endblock %}

{% block styles %}
    <link href="/static/bootstrap.min1.css" rel="stylesheet">
    {{ super() }}
    <link href="/static/signup.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
    <div class = "container">
	<div class="wrapper1">

    <form class="form-signup" name="Login_Form" action="{{ url_for('signup')}}" method="POST" role="form" autocomplete="off">
        <h3 class="form-signin-heading">Admin Setup</h3>
            <hr class="colorgraph"><br>
        
        <dl>
            {{ form.hidden_tag() }}
        {{ wtf.form_field(form.firstname) }}
        {{ wtf.form_field(form.middlename) }}
        {{ wtf.form_field(form.lastname) }}
    	{{ wtf.form_field(form.username) }}
    	{{ wtf.form_field(form.password) }}
        </dl>
        <button class="btn btn-lg btn-success btn-block" name="setup" value="Confirm" type="Submit" style="margin-top: 5%">Confirm</button>
        
    </form>

    </div>
    </div>


{% endblock %}